@charset "UTF-8";
/* CSS Document */

#header {
    color: rgba(0,0,0,1);
    background-color: rgba(255,237,131,1.00);
    padding: 10px;
    height: 80px;
    margin-bottom: 10px;
}
#nav {
    background-color: rgba(160,217,245,1);
    padding: 10px;
    height: 30px;
    margin-bottom: 10px;
}
#left {
    padding: 10px;
    float: left;
    height: 600px;
    width: 30%;
    margin-bottom: 10px;
    background-color: rgba(184,233,184,1.00);
    margin-top: 10px;
    margin-left: 10px;
}
#centro {
    background-color: rgba(250,214,157,1);
    padding: 10px;
    float: left;
    height: 600px;
    width: 30%;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
}
#right {
    background-color: #BCF594;
    padding: 10px;
    float: right;
    height: 600px;
    width: 30%;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
#section {
    background-color: #6196E8;
    margin-bottom: 10px;
}
#space {
    background-color: #F9E57D;
    padding: 10px;
    margin-bottom: 10px;
}
#footer {
    background-color: #90A8E9;
    padding: 10px;
    height: 250px;
    margin-bottom: 10px;
}
#menu {
    background-color: #E9E9F5;
    padding: 10px;
    height: 30px;
    width: 30%;
    margin-left: 35px;
    position: fixed;
    float: right;
}
#banner {
    height: 200px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #DFF186;
}
#mainhead {
    height: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #ECBD5C;
}
#c2 {
    background-color: #B0C6FB;
    height: 120px;
    width: 120px;
    position: absolute;
    z-index: 2;
    left: 245px;
    top: 675px;
}
#c1 {
    background-color: #AF9AF7;
    height: 120px;
    width: 120px;
    position: absolute;
    z-index: 1;
    left: 245px;
    top: 615px;
}
#c3 {
    background-color: #94A2F7;
    position: absolute;
    z-index: 3;
    height: 120px;
    width: 120px;
    left: 245px;
    top: 722px;
}
#c4 {
    background-color: #BAB5F5;
    position: absolute;
    z-index: 4;
    height: 120px;
    width: 120px;
    left: 245px;
    top: 767px;
}
#c5 {
    background-color: #CEECF4;
    position: absolute;
    z-index: 5;
    height: 120px;
    width: 120px;
    left: 245px;
    top: 820px;
}
